body{
    font-family: 'Roboto', sans-serif;
    color: antiquewhite;
    background-color: black;
}
a:link, a:active, a:visited{
    color: bisque;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* grid 960px*/
.linha{
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0;
}
.coluna{
    padding: 0 10px;
    float: left;
}
.col1{
    width: 60px;
}
.col2{
    width: 140px;
}
.col3{
    width: 220px;
}
.col4{
    width: 300px;
}
.col5{
    width: 380px;
}
.col6{
    width: 460px;
}
.col7{
    width: 540px;
}
.col8{
    width: 620px;
}
.col9{
    width: 700px;
}
.col10{
    width: 780px;
}
.col11{
    width: 860px;
}
.col12{
    width: 940px;
}
/* estilos reutizáveis */
.sem-padding{
    padding: 0 important;
}
.sem-margin{
    margin: 0 important;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    margin: 15px 0 10px 0;
}
ul li, ol li{
    margin-bottom: 5px;
}
ul.inline li, ol.inline li{
    display: inline;
    margin-right: 15px;
}
ul.inline li :last-child, ol.inline li :last-child{
    margin-right: 0;
}
ul.sem-marcador, ol.sem-marcador{
    list-style: none;
}
a.botao, input.botao{
    background: wheat;
    padding: 5px 10px;
    border-radius: 3px;
    color: black;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
    border: none;
}
a.botao:hover, input.botao:hover{
    background:rgb(240, 0, 0);
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
/*layout do site*/
.header{
    background: rgb(26, 25, 25);
}
h1.logo{
    font-weight: 700;
    color: rgb(240, 0, 0);
    letter-spacing: -2px; 
}
.conteudo-extra{
    background-color: rgb(20, 20, 20);
}
.footer{
    background: rgb(80, 80, 80);
    color:wheat;
    padding: 20px 0;
    text-align: center;
    font-weight: 100;
}
.menu{
    text-transform: uppercase;
    text-align: right;
    margin-top: 25px;
}
.menu li a{
    padding: 5px 10px;
    border-radius: 3px;
}
.menu li a:hover{
    text-decoration:none;
    background: rgb(240, 0, 0);
    color: black;
}
ul.noticias li{
    clear: both;
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
}
ul.noticias h4{
    font-weight: 700;
}
ul.noticias li img{
    width: 70px;
    height: auto;
    margin-right: 10px;
    float: left;
}
ul.noticias li h4{
    margin: -2px 0 5px 0;
    font-weight: 700;
}
ul.noticias li p{
    margin: 5px 0;
    font-weight: 300;
}
ul.noticias li p a{
    font-weight: 500;
}
.contato label{
    display: block;
    font-size: 13px;
    font-weight: 300;
}
.contato input, .contato textarea{
    display: block;
    margin-bottom: 15px;
    padding: 5px 2%;
    width: 96%;
}
.contato textarea{
    height: 150px;
}
.contato input.botao{
    width: auto;

}
.fixed{
        width: 200px;
        height: 300px;
        background: #75AD45;
        border: 2px solid black;
        position: fixed; /*Fixa o elemento nas coordenadas seguintes*/
        top: 30px;
        right: 30px;
        color: white;
        padding: 10px;    
}



